<!DOCTYPE html>
<html>
  <head>
    <title>Confirmation Page</title>
  </head>
  <body>
    <div class="content">
        <h3>Congratulations!</h3>
        <p>You have been successfully confirmed with your phone number and subscribed</p>
        <!-- <div>
          <h3>Return page[This is not working]:</h3>
          <form method="POST" action="/get_profile" enctype=multipart/form-data>
            <input type=submit value=Upload>
          </form>
        </div> -->
    </div>
  </body>
</html>