option_settings:
  aws:elasticbeanstalk:application:environment:
    S3_BUCKET: videos.house.com
    AWS_KEY: AKIA5CPWOHXCU5FGRT5E
    AWS_SECRET_ACCESS_KEY: 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
    TWILIO_ACCOUNT_SID: AC8a08f58db940750c1f1544b67e54ac77
    TWILIO_AUTH_TOKEN: 8611ca4b6693d8c646b4867500f1ad3d
    CONFIRMATION_SECRET_KEY: mayo1007
    CONFIRMATION_SECURITY_PASSWORD_SALT: mayo1007sweetheart
    STRIPE_API_KEY: sk_test_51I9JshLXpKNZDmCJ3c2PZclzs9NoQENputwbxbWdcSBE2aaOrnGWgayaKI2Y2WgGfUAt0jKHUhYUJok8oDjO6s6q00dHx3fUfd